@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
    font-family: 'Chocolate Classical Sans', sans-serif;
    letter-spacing: 5px;
    font-weight: 600;
    padding: 0;
    margin: 0;

    text-align: center;
    /* color: #c3f3f3; */
    line-height: 2.5;
    box-sizing: border-box;
    text-align: center;
    /* transition: all 0.3s ease-in-out; */
}

body {
    display: flex;
    flex-direction: column;
    height: auto;

    background-image: url('/img/IMG_Bgc3.png');
    background-size: cover;
    background-attachment: fixed;
}

ul :hover {
    color: #d1a952;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 600;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #1f1f1c;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* .modal {
    animation: slide-up-fade-in 0.5s ease-out forwards;
} */

@keyframes slide-up-fade-in {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.illustrate {
    animation: illustrate_plant 12s ease-in-out infinite;
}

@keyframes illustrate_plant {
    0% {
        transform: rotate(0) scale(1);
    }
    25% {
        transform: rotate(-2deg) scale(0.95);
    }
    50% {
        transform: rotate(3deg) scale(1.02);
    }
    75% {
        transform: rotate(-1deg) scale(0.98);
    }
    100% {
        transform: rotate(0) scale(1);
    }
}

/* .toTop {
    animation: toTheTop 1s ease-out forwards;
} */

@keyframes toTheTop {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
